* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  background: rgb(49, 149, 216);
  padding: 8px 12px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn.signup {
  background: #662680;
}

.container {
}

.header {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.logo {
  margin-right: 50px;
  text-transform: uppercase;
}

.nav {
  display: flex;
}

.nav a {
  /* background: red; */
  height: 60px;
  display: block;
  line-height: 60px;
  padding: 0 26px;
  text-transform: capitalize;
}

.nav a:hover {
  color: #1c65d3;
}

/* .logo {
  margin-right: auto;
} */

.nav_btns {
  margin-left: auto;
}

.slide {
  height: 600px;
  background: url("./bg.jpg") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}

.slide_info {
  text-align: center;
}

.name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
